<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Map Update
      </h1>
      <h2 class="subtitle">
        Updating the maps using Tom-Tom APIs
      </h2>
      <p>Using this tool, you can test and interact with the various APIs used in the Map Update feature</p>
      <p>You can test downloading a map from VNext, just like a <strong>IVI</strong> would do.</p>
      <p>Or you can test the downloading of map outside of Vnext, just like the <strong>customer </strong> would do it</p>
      <br/>
      <h3 class="title is-5">What do you want to test ?</h3>
      <a class="button is-primary" routerLink="/ivi">A-IVI</a>

      <a class="button is-link" routerLink="/toolbox">Customer Toolbox</a>
    </div>
  </div>
</section>
