<div class="container" style="margin-top: 1rem">
  <h1 class="title">A-IVI Map Update Feature test</h1>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Map Catalog
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Here we will display all the maps available on TomTom catalog
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Local Map content
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Here we will display the local installed maps. We will be able to list and delete local maps
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Map Download
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        This card will focus on downloading an available map and install it locally
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Backend Settings
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        All backend settings that can be customized for various tests
      </div>
    </div>
  </div>
</div>

