<p>
  USB detection in progress....
</p>
<div class="card" *ngFor="let drive of drives | async" style="margin-bottom: 1rem">
  <header class="card-header">
    <p class="card-header-title">
      {{drive.drive.description}}
    </p>
  </header>
  <div class="card-content">
    <tree-root [nodes]="drive.content" [options]="options"></tree-root>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item">Save</a>
    <a class="card-footer-item">Edit</a>
    <a class="card-footer-item">Delete</a>
  </footer>
</div>

