<div class="container" style="margin-top: 1rem">
  <h1 class="title">Customer Toolbox</h1>
  <p>This section focuses on the customer toolbox use cases. It will help to ensure that all the backend apis are working and the various use cases that the real customer toolbox is supposed to do are actually feasible with the current backend</p>
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        User Authentication
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Allow user to log in and retrieve its personal map data
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Fingerprint reading
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Read the content of a USB device and display the map information from it
        <mu-usb></mu-usb>
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Map Download
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Downloading an available map based on map context and store it on USB
        <mu-map-download></mu-map-download>
      </div>
    </div>
  </div>

  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Backend Settings
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        All backend settings that can be customized for various tests
        <mu-toolbox-settings></mu-toolbox-settings>
      </div>
    </div>
  </div>
</div>

